<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<!--HEADER-->
<div th:replace="fragments/header::top-nav"></div>

<div class="margin">
    <h1>Ajouter un post</h1>

    <form method="post" th:action="${'/post/save/'+user}" th:object="${post}" action="#" enctype="multipart/form-data">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="inputTitle">Title</label>
                <input type="text" class="form-control" th:field="*{title}"
                       id="inputTitle">
            </div>
            <div class="form-group col-md-6">
                <label for="inputDescription">Description</label>
                <input type="text" class="form-control"
                       id="inputDescription" th:field="*{description}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPicture">Picture</label>
                <input type="file" class="form-control" accept="image/png, image/jpeg"
                       id="inputPicture" name="image">
            </div>
            <div class="form-group col-md-6">
                <label for="inputBird">Bird that you observed</label>
                <input type="text" class="form-control"
                       id="inputBird" th:field="*{birdName}">
            </div>
            <div class="form-group col-md-6">
                <label for="inputLocation">Location of this bird</label>
                <select name="regions" id="inputLocation" th:field="*{regionId}">
                    <option th:each="region:${regions}" th:value="${region.regionId}">
                        <p th:text="${region.name}"></p>
                    </option>
                </select>
            </div>
        </div>

        <button type="submit" class="btn btn-success pull-right">Enregistrer</button>

    </form>
</div>

<!--FOOTER-->
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>