<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
</head>
<body>
<!--HEADER-->
<div th:replace="fragments/header::top-nav"></div>

<h1>Ajouter un Rating au post</h1>

<form method="post" th:action="${'/post/addRating/' + post.postId}" th:object="${rate}" action="#">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Rating 1 to 5</label><br>
        <label for="input1">1: </label>
      <input type="radio" class="form-control" th:field="*{rate}" th:value="1"
             id="input1"><br>
        <label for="input2">2: </label>
        <input type="radio" class="form-control" th:field="*{rate}" th:value="2"
               id="input2"><br>
        <label for="input3">3: </label>
        <input type="radio" class="form-control" th:field="*{rate}" th:value="3"
               id="input3"><br>
        <label for="input4">4: </label>
        <input type="radio" class="form-control" th:field="*{rate}" th:value="4"
               id="input4"><br>
        <label for="input5">5: </label>
        <input type="radio" class="form-control" th:field="*{rate}" th:value="5"
               id="input5">
    </div>
  </div>

  <button type="submit" class="btn btn-success pull-right">Enregistrer</button>

</form>
<!--FOOTER-->
<footer th:replace="fragments/footer::footer"></footer>
</body>
</html>