<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/main.css}" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
<!--HEADER-->
<div th:replace="fragments/header::top-nav"></div>
<div th:each="bird:${birds}" class="margin">
  <H1 th:text="*{bird.name}"></H1>
  </div>
</div>
<!--FOOTER-->
<footer th:replace="fragments/footer::footer"></footer>
</body>
</body>
</html>